body {
    background-color: black;
    color: white; /* Set text color to white for better contrast */
    text-align: center;
}

img {
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
}

#USPrev {
    bottom: 10px;
    /* right: 500px; */

}

#USNext {
    bottom: 10px;
    /* left: 550px; */

} 

#BRPrev {
    position: absolute;
    bottom: 20px;
    /* left: 500px; */

}

#BRNext {
    position: absolute;
    bottom: 20px;
    /* right: 550px; */

} 

#INPrev {
    position: absolute;
    bottom: 30;
    /* left: 500px; */

}

#INNext {
    position: absolute;
    bottom: 30;
    /* right: 550px; */
} 