<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Spotify Profile</title>
    <link href="/static/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <h1>My Spotify Profile</h1>

    <section id="profile">
      <h2>Logged in as <span id="displayName"></span></h2>
      <img
        src="{{image}}"
        alt="Profile Image"
        style="width: 100px; height: 100px"
      />
      <p>Name: {{display_name}} <span id="id"></span></p>
    </section>
    <section id="search">
      <h2>Search your favorite Spotify artist!</h2>
      <form id="search_form">
        <div>
          <input
            name="searchbar"
            class="searchbar"
            autofocus
            id="searchbar"
            type="text"
          />
        </div>
        <button type="submit">Submit</button>
      </form>

      <p id="selectArtist" style="display: none">Select Artist</p>
    </section>

    <ul id="results_list">
        {% for item in search_results %}
        <li><a href="{{ item.id }}">{{ item.name }}</a></li>
    {% endfor %}

    </ul>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.3/axios.min.js" integrity="sha512-JWQFV6OCC2o2x8x46YrEeFEQtzoNV++r9im8O8stv91YwHNykzIS2TbvAlFdeH0GVlpnyd79W0ZGmffcRi++Bw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/javascript/search.js"></script>

    <!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get a reference to the search button and the selectArtist element
        var searchForm = document.querySelector('#search_form');
        var selectArtist = document.querySelector('#selectArtist');

        // Add a click event listener to the search button
        searchForm.addEventListener('submit', function (event) {
            // Prevent the default form submission behavior
            event.preventDefault();
            // Show the selectArtist element
            selectArtist.style.display = 'block';
        });
    });
</script> -->
  </body>
</html>
